.login-form-container {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    width: 750px;
    padding: 86px 88px 59px 88px;
    z-index: 99;
}

.login-form-error {
    color: #ff0000;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    text-align: center;
}

.login-form-title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #666666;
    text-align: center;
}

.login-form-input-label {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
    margin: 40px 0 20px 0;
}

.login-form-input {
    background: #F5F5F5;
    border-radius: 10px;
    height: 58px;
    width: 750px;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
}

.log-in-link {
    cursor: pointer;
    color: #999999;
}

.log-in-link:hover {
    cursor: pointer;
    color: #313131;
}

.type {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 40px 0;
}

.type label,
option {
    color: #999999;
    font-style: normal;
    font-weight: 400;
}

.type select {
    color: #999999;
    border: 1px solid #999999;
    font-style: normal;
    font-weight: 400;
}

.login-form-select {
    color: #666666;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    outline: none;
}

.login-form-button {
    background: rgba(147, 33, 192, 0.9);
    border: none;
    border-radius: 10px;
    height: 73px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.login-form-button:hover {
    background: rgb(147, 33, 192);
}

.login-form-button-student {
    background: rgba(33, 72, 192, 0.9);
    border: none;
    border-radius: 10px;
    height: 73px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.login-form-button-student:hover {
    background: rgb(33, 72, 192);
}

.login-form-button-teacher {
    background: rgba(0, 0, 0, 0.9);
    border: none;
    border-radius: 10px;
    height: 73px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.login-form-button-teacher:hover {
    background: rgb(0, 0, 0);
}

.white-background-rectangles {
    position: absolute;
    width: 100%;
    bottom: 1px;
    z-index: 1;
}

@media (max-width: 1280px),
(max-height: 1000px) {
    .login-form-container {
        border-radius: 10px;
        width: calc(750px / 1.4);
        padding: 30px 30px 24px 30px;
    }

    .login-form-error {
        font-size: calc(24px / 1.4);
        line-height: calc(29px / 1.4);
        margin-bottom: calc(20px / 1.4);
    }


    .login-form-title {
        font-size: calc(24px / 1.4);
        line-height: calc(29px / 1.4);
    }

    .login-form-input-label {
        font-size: calc(24px / 1.4);
        line-height: calc(32px / 1.4);
        margin: 40px 0 20px 0;
    }

    .login-form-input {
        border-radius: 10px;
        height: calc(58px / 1.4);
        width: calc(750px / 1.4);
        font-size: calc(24px / 1.4);
        line-height: calc(32px / 1.4);
    }

    .type {
        margin: 25px 0 40px 0;
    }

    .login-form-select {
        font-size: calc(24px / 1.4);
        line-height: calc(32px / 1.4);
    }

    .login-form-button {
        border-radius: 10px;
        height: calc(73px / 1.4);
        font-size: calc(24px / 1.4);
        line-height: calc(32px / 1.4);
    }

    .login-form-button-student {
        border-radius: 10px;
        height: calc(73px / 1.4);
        font-size: calc(24px / 1.4);
        line-height: calc(32px / 1.4);
    }

    .login-form-button-teacher {
        border-radius: 10px;
        height: calc(73px / 1.4);
        font-size: calc(24px / 1.4);
        line-height: calc(32px / 1.4);
    }
}

@media (max-width: 700px) {
    .login-form-container {
        width: calc(750px / 2);
    }

    .login-form-input {
        width: calc(750px / 2);
    }
}

@media (max-width: 510px) {
    .login-form-container {
        width: calc(750px / 3);
        padding: 20px;
    }

    .login-form-input {
        width: calc(750px / 3);
    }

    .login-form-input-label {
        margin: 5px 0;
    }

    .type {
        margin: 5px 0;
    }
}